*{
    font-family:cursive;
}


div, form{
    display:none;
}

body{
    background-image: url("blackjack_table.png");
    background-size:cover;
    background-repeat: no-repeat;
    color:black;
}


#start, #submit{
    color:rgb(43, 180, 61);
    background: rgb(255, 238, 0);
}

.numberText{
    color:aqua;
}
.game{
    border:2px;
    border-radius: 2px;
    border-color:black;
}

#background_toggle{
    position:absolute; top:0px; right:0px;
}